h1 {
    margin-top: 0;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
form{
    flex-grow: 1;
}
div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}
button {
    flex-grow: 1;
    margin: 10px;
    text-align: center;
    width: 150px; /* фиксированная ширина */
    height: 50px; /* фиксированная высота */
    line-height: 50px; /* высота кнопки = высоте текста */
}

