<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Cars with status</title>
</head>
<body>
<div th:switch="${cars}">
  <h2 th:case="null">No cars found</h2>
  <div th:case="*">
    <h2>Cars</h2>
    <table>
      <thead>
      <tr>
        <th>Марка</th>
        <th>Модель</th>
        <th>Количество лошадиных сил</th>
        <th>Тип топлива</th>
        <th>Цвет</th>
        <th>Цена</th>
        <th sec:authorize="hasAnyAuthority('admin:write', 'employee:write')">VIN</th>
        <th>Была в сервисе</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="car : ${cars}">
        <td th:text="${car.make}"></td>
        <td th:text="${car.model}"></td>
        <td th:text="${car.horsePower}"></td>
        <td th:text="${car.fuel}"></td>
        <td th:text="${car.color}"></td>
        <td th:text="${car.price}"></td>
        <td sec:authorize="hasAnyAuthority('admin:write', 'employee:write')" th:text="${car.carVinNumber}"></td>
        <td th:text="${car.status}"></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>