<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
<!--    <link rel="stylesheet" type="text/css" href="../static/homePageStyle.css">-->
</head>
<body>
<div>
  <form sec:authorize="hasAnyAuthority('admin:write', 'employee:write')" action="/cars/new" method="get">
    <div>
      <button>Добавить новую машину</button>
    </div>
  </form>
</div>
<div th:switch="${cars}">
  <h2 th:case="null">No cars found</h2>
  <div th:case="*">
    <h2>Cars</h2>
    <table>
      <thead>
      <tr>
        <th>Марка</th>
        <th>Модель</th>
        <th>Количество лошадиных сил</th>
        <th>Тип топлива</th>
        <th>Цвет</th>
        <th>Цена</th>
        <th sec:authorize="hasAnyAuthority('admin:write', 'employee:write')">VIN</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="car : ${cars}">
        <td th:text="${car.make}"></td>
        <td th:text="${car.model}"></td>
        <td th:text="${car.horsePower}"></td>
        <td th:text="${car.fuel}"></td>
        <td th:text="${car.color}"></td>
        <td th:text="${car.price}"></td>
        <td sec:authorize="hasAnyAuthority('admin:write', 'employee:write')" th:text="${car.carVinNumber}"></td>
        <td><a sec:authorize="hasAnyAuthority('admin:write', 'employee:write')" th:href="@{cars/update/{id}(id=${car.id})}">Update</a></td>
        <td><a sec:authorize="hasAnyAuthority('admin:write', 'employee:write')" th:href="@{cars/delete/{id}(id=${car.id})}">Delete</a></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>