<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
<!--    <link rel="stylesheet" type="text/css" href="../static/homePageStyle.css">-->
</head>
<body>
<div th:switch="${cars}">
  <h2 th:case="null">No cars found</h2>
  <div th:case="*">
    <h2>Cars</h2>
    <table>
      <thead>
      <tr>
        <th>Марка</th>
        <th>Модель</th>
        <th>Количество лошадиных сил</th>
        <th>Тип топлива</th>
        <th>Цвет</th>
        <th>Цена</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="car : ${cars}">
        <td th:text="${car.make}"></td>
        <td th:text="${car.model}"></td>
        <td th:text="${car.horsePower}"></td>
        <td th:text="${car.fuel}"></td>
        <td th:text="${car.color}"></td>
        <td th:text="${car.price}"></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>