<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../static/homePageStyle.css">
</head>
<body>
<header>
    <h1>Welcome to Car Shop!</h1>
</header>
<div>
    <form>
        <button><a href="/cars">View Available Cars</a></button>
    </form>
    <form>
        <button><a href="/service">Book a Service</a></button>
    </form>
    <form>
        <button type="submit"><a href="/callback">Request a Callback</a></button>
    </form>
</div>
</body>
</html>