<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/" method="get">
  <div>
    <button>Домой</button>
  </div>
</form>
<div th:switch="${list2}">
  <h2 th:case="null">No info found</h2>
  <div th:case="*">
    <h2>Info</h2>
    <table>
      <thead>
      <tr>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Телефон</th>
        <th>Описание</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="l : ${list2}">
        <td th:text="${l.name()}"></td>
        <td th:text="${l.lastname()}"></td>
        <td th:text="${l.phoneNumber()}"></td>
        <td th:text="${l.description()}"></td>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>